form{
    font-family: cursive;
    font-size: 18px;
    margin: 8px m0;
    padding: 20px;



}
.Login{
    font-size: 70px;
    margin-left: -45px;
    width: 100%;
    animation: color_change 2s infinite alternate;
}
.Logdiv{
    background-image: url(./image/img3.jpg);
   background-size: 1500px;

        animation: fadein 2s;

}
@keyframes fadein {
    from { opacity: 0;  transform: translateY(-20px);}
    to   { opacity: 1; }
   
}
@keyframes color_change {
	from { color:black; }
	to { color:lightblue; }
}